
body{
margin:0;
font-family:Courier New, monospace;
background-image:url("https://i.pinimg.com/1200x/00/5a/f0/005af0ac3a1c86f48c6cf515655c4ccf.jpg");
background-size:cover;
background-position:center;
background-attachment:fixed;
color:white;
}

nav{
background:#D3D7CF;
}

.nav-container{
display:flex;
align-items:center;
justify-content:space-between;
position:relative;
height:50px;
padding:0 20px;
}

/* Logo on left */

.logo{
font-weight:bold;
font-size:20px;
}

/* Navigation links */

.nav-links{
list-style:none;
display:flex;
justify-content:space-evenly;
width:100%;
margin:0;
padding:0;
}

.nav-links a{
text-decoration:none;
color:black;
padding:14px 20px;
display:flex;
align-items:center;
transition:0.3s;
}

.nav-links a:hover{
background:#fb5a48;
}

@keyframes fadeIn{
from{opacity:0; transform:translateY(20px);}
to{opacity:1; transform:translateY(0);}
}

input, textarea{
width:260px;
padding:10px;
margin:10px;
border:none;
border-radius:4px;
}

button{
padding:10px 20px;
border:none;
background:#FA8CED;
cursor:pointer;
border-radius:5px;
}

.menu-toggle {
  display: none; /* hide on desktop */
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* show on mobile */
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #D3D7CF;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }



}
/* PAGE CONTENT */
.container{
padding:120px 20px;
text-align:center;
max-width:900px;
margin:auto;
animation:fadeIn 1.2s ease;
}
}